<div class="row-fluid graph-container winm heatmap-options">
    <form class="heatmapoptions">
        <label>
            Bytes per pixel
        </label>
        <label>
            <input type="radio" ng-disabled="heatmapLoading" ng-model="bytesPerSample" ng-change="onUpdateBpp(bytesPerSample)" value="64">
            64 bytes
        </label>
        <label>
        <input type="radio" ng-disabled="heatmapLoading" ng-model="bytesPerSample" ng-change="onUpdateBpp(bytesPerSample)" value="2048">
            2 Kbytes
        </label>
    </form>
</div>
<div class="row-fluid graph-container winm">
    <div class="overlay" ng-if="heatmapLoading" style="width: 1400px; height: 500px;">
        <img src="css/img/loading-small.gif" />
    </div>
    <canvas id="blaze-{{id}}" class="blazemap" width="1400" height="500" style="width: 1400px; height: 500px;"></canvas>
</div>
<div class="row-fluid">
    <div class="blazeinfo" style="width: 1400px;" ng-bind-html="blazeInfo"></div>
</div>
<div class="row-fluid">
    <div style="margin-left: 5px;" ng-if="symbolsForCrtSample">
        <div class="symbolsinfo">Symbols at sample</div>
        <ul class="symbols">
            <li ng-repeat="symbol in symbolsForCrtSample">{{symbol}}</li>
        </ul>
    </div>
</div>