<div class="row-fluid graph-container winm dsoselector">
    <div style="width:50%; height: 100%; position: relative; float: left;">
        <select style="right: 10px;" ng-disabled="dsosLoading" ng-model="selectedDSOLeft" ng-change="onSelectDSOLeft(selectedDSO)" ng-options="item as item.name for item in availableDSOs track by item.id"></select>
    </div>
    <div style="width:50%; height: 100%; position: relative; float: left;">
        <select style="left: 10px;" ng-disabled="dsosLoading" ng-model="selectedDSORight" ng-change="onSelectDSORight(selectedDSO)" ng-options="item as item.name for item in availableDSOs track by item.id"></select>
    </div>
</div>
<div class="row-fluid graph-container winm">
    <div class="graph" width="100%"></div>
</div>